/* Hide "Edit On GitHub" section*/
.wy-breadcrumbs-aside { display: none !important;}

body {
    font-family: 'Poppins', sans-serif;
}

.wy-side-nav-search {
    background-color: #1A658F;
}

.wy-body-for-nav {
    background-color: #C3D7EE;
}

.wy-menu-vertical {
    background-color: #53565A;
}

/* style code blocks */
pre code {
    overflow: auto;
    padding: 16px;
    border-radius: 8px;
    position: relative;
}