.wy-side-nav-search {
    background-color: #1A658F;
}

.wy-body-for-nav {
    background-color: #C3D7EE;
}

.wy-menu-vertical {
    background-color: #53565A;
}

body {
    font-family: 'Poppins', sans-serif;
}